[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
requests = "*"
cerberus = "*"
defusedxml = "*"
xmltodict = "*"
python-dotenv = "*"
pydantic = "*"
hence = {ref = "v0.10.1", git = "git+https://github.com/0hsn/hence.git"}

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
black = {extras = ["d"], version = "*"}
types-pyyaml = "*"
types-requests = "*"
pytest-cov = "*"
coveralls = "*"
icecream = "*"

[requires]
python_version = "3.11"
