[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
requests = "*"
cerberus = "*"
defusedxml = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
black = {extras = ["d"], version = "*"}
var-dump = "*"

[requires]
python_version = "3.11"
