name: Run coverage test and generate report

on:
  push:
    branches:
      - main
  workflow_dispatch: ~

jobs:
  coverage:
    name: Runs on ubuntu-latest with 3.11.0
    runs-on: ubuntu-latest
    if: ${{ ! github.event.pull_request.draft }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements-dev.txt

      - name: Run tests
        run: python -m pytest --cov=./chk --cov-report xml && coverage-lcov

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
